parameters:
    level: 7
    paths:
        - src
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        - /^Variable property access/
        - /^Unsafe usage of new static/
        -
            message: "/^Possibly invalid array key type array<string, mixed>\\|string/"
            path: src/Traits/SetTrait.php
includes:
  	- vendor/phpstan/phpstan-strict-rules/rules.neon
